In [927]:
import pandas as pd
import os

In [928]:
os.chdir(os.getcwd())

In [929]:
df=pd.read_csv("/Users/xin/Downloads/Medicare Analysis/PartD_Prescriber_PUF_NPI_17.txt", delimiter="\t")

In [930]:
pd.set_option('display.max_columns', None)

#### Question 1: In 2017, what was the average number of beneficiaries per provider? Due to the suppression of data for those with few beneficiaries, we can only include those with more than 10 beneficiaries.

In [931]:
df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,ge65_suppress_flag,total_claim_count_ge65,total_30_day_fill_count_ge65,total_drug_cost_ge65,total_day_supply_ge65,bene_count_ge65_suppress_flag,bene_count_ge65,brand_suppress_flag,brand_claim_count,brand_drug_cost,generic_suppress_flag,generic_claim_count,generic_drug_cost,other_suppress_flag,other_claim_count,other_drug_cost,mapd_suppress_flag,mapd_claim_count,mapd_drug_cost,pdp_suppress_flag,pdp_claim_count,pdp_drug_cost,lis_suppress_flag,lis_claim_count,lis_drug_cost,nonlis_suppress_flag,nonlis_claim_count,nonlis_drug_cost,opioid_claim_count,opioid_drug_cost,opioid_day_supply,opioid_bene_count,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_drug_cost,la_opioid_day_supply,la_opioid_bene_count,la_opioid_prescriber_rate,antibiotic_claim_count,antibiotic_drug_cost,antibiotic_bene_count,antipsych_ge65_suppress_flag,antipsych_claim_count_ge65,antipsych_drug_cost_ge65,antipsych_bene_ge65_suppress_flg,antipsych_bene_count_ge65,average_age_of_beneficiaries,beneficiary_age_less_65_count,beneficiary_age_65_74_count,beneficiary_age_75_84_count,beneficiary_age_greater_84_count,beneficiary_female_count,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,21502.0,1854.0,MD,US,Internal Medicine,S,E,677,695.5,32639.57,14788,234.0,NaN,516.0,532.533333,23174.78,11428.0,NaN,182.0,#,NaN,NaN,NaN,552.0,5941.53,*,NaN,NaN,NaN,150.0,3032.66,NaN,527.0,29606.91,NaN,305.0,17267.72,NaN,372.0,15371.85,25.0,197.47,134.0,24.0,3.69,NaN,NaN,NaN,NaN,NaN,125.0,2478.65,104.0,*,NaN,NaN,*,NaN,72.0,52.0,82.0,67.0,33.0,142.0,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,43623.0,3536.0,OH,US,Anesthesiology,S,E,1946,2054.8,140189.01,58605,276.0,NaN,881.0,919.066667,50838.50,26089.0,NaN,160.0,NaN,235.0,106048.28,NaN,1711.0,34140.73,NaN,0.0,0.0,NaN,930.0,67081.22,NaN,1016.0,73107.79,NaN,1184.0,94361.07,NaN,762.0,45827.94,1040.0,50895.21,29238.0,200.0,53.44,200.0,37637.86,5853.0,49.0,19.23,0.0,0.00,0.0,NaN,0.0,0.0,NaN,0.0,65.0,116.0,99.0,45.0,16.0,184.0,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,89403.0,7482.0,NV,US,Dentist,S,N,55,55.0,302.01,430,33.0,#,NaN,NaN,NaN,NaN,#,NaN,NaN,0.0,0.00,#,NaN,NaN,*,NaN,NaN,NaN,16.0,58.19,NaN,39.0,243.82,*,NaN,NaN,#,NaN,NaN,14.0,61.95,35.0,11.0,25.45,0.0,0.00,0.0,0.0,0.00,28.0,134.92,22.0,NaN,0.0,0.0,NaN,0.0,72.0,NaN,NaN,NaN,NaN,16.0,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,91744.0,4648.0,CA,US,Dentist,S,N,18,18.0,113.81,150,NaN,#,NaN,NaN,NaN,NaN,#,NaN,NaN,0.0,0.00,NaN,18.0,113.81,NaN,0.0,0.0,*,NaN,NaN,*,NaN,NaN,#,NaN,NaN,*,NaN,NaN,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,12.0,81.54,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243.0,1.0,TN,US,Nurse Practitioner,S,N,90,110.0,7561.21,2681,11.0,NaN,65.0,85.000000,3894.08,1931.0,*,NaN,NaN,28.0,6576.28,NaN,62.0,984.93,NaN,0.0,0.0,NaN,22.0,485.04,NaN,68.0,7076.17,NaN,73.0,3947.56,NaN,17.0,3613.65,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,0.0,0.00,0.0,NaN,0.0,0.0,NaN,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148

In [932]:
df.drop("nppes_provider_mi", axis=1, inplace=True)

In [933]:
# Data Cleaning.
df["beneficiary_female_count"].fillna(0, inplace=True)

In [934]:
df["beneficiary_male_count"].fillna(0, inplace=True)

In [935]:
df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,ge65_suppress_flag,total_claim_count_ge65,total_30_day_fill_count_ge65,total_drug_cost_ge65,total_day_supply_ge65,bene_count_ge65_suppress_flag,bene_count_ge65,brand_suppress_flag,brand_claim_count,brand_drug_cost,generic_suppress_flag,generic_claim_count,generic_drug_cost,other_suppress_flag,other_claim_count,other_drug_cost,mapd_suppress_flag,mapd_claim_count,mapd_drug_cost,pdp_suppress_flag,pdp_claim_count,pdp_drug_cost,lis_suppress_flag,lis_claim_count,lis_drug_cost,nonlis_suppress_flag,nonlis_claim_count,nonlis_drug_cost,opioid_claim_count,opioid_drug_cost,opioid_day_supply,opioid_bene_count,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_drug_cost,la_opioid_day_supply,la_opioid_bene_count,la_opioid_prescriber_rate,antibiotic_claim_count,antibiotic_drug_cost,antibiotic_bene_count,antipsych_ge65_suppress_flag,antipsych_claim_count_ge65,antipsych_drug_cost_ge65,antipsych_bene_ge65_suppress_flg,antipsych_bene_count_ge65,average_age_of_beneficiaries,beneficiary_age_less_65_count,beneficiary_age_65_74_count,beneficiary_age_75_84_count,beneficiary_age_greater_84_count,beneficiary_female_count,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,21502.0,1854.0,MD,US,Internal Medicine,S,E,677,695.5,32639.57,14788,234.0,NaN,516.0,532.533333,23174.78,11428.0,NaN,182.0,#,NaN,NaN,NaN,552.0,5941.53,*,NaN,NaN,NaN,150.0,3032.66,NaN,527.0,29606.91,NaN,305.0,17267.72,NaN,372.0,15371.85,25.0,197.47,134.0,24.0,3.69,NaN,NaN,NaN,NaN,NaN,125.0,2478.65,104.0,*,NaN,NaN,*,NaN,72.0,52.0,82.0,67.0,33.0,142.0,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,43623.0,3536.0,OH,US,Anesthesiology,S,E,1946,2054.8,140189.01,58605,276.0,NaN,881.0,919.066667,50838.50,26089.0,NaN,160.0,NaN,235.0,106048.28,NaN,1711.0,34140.73,NaN,0.0,0.0,NaN,930.0,67081.22,NaN,1016.0,73107.79,NaN,1184.0,94361.07,NaN,762.0,45827.94,1040.0,50895.21,29238.0,200.0,53.44,200.0,37637.86,5853.0,49.0,19.23,0.0,0.00,0.0,NaN,0.0,0.0,NaN,0.0,65.0,116.0,99.0,45.0,16.0,184.0,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,89403.0,7482.0,NV,US,Dentist,S,N,55,55.0,302.01,430,33.0,#,NaN,NaN,NaN,NaN,#,NaN,NaN,0.0,0.00,#,NaN,NaN,*,NaN,NaN,NaN,16.0,58.19,NaN,39.0,243.82,*,NaN,NaN,#,NaN,NaN,14.0,61.95,35.0,11.0,25.45,0.0,0.00,0.0,0.0,0.00,28.0,134.92,22.0,NaN,0.0,0.0,NaN,0.0,72.0,NaN,NaN,NaN,NaN,16.0,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,91744.0,4648.0,CA,US,Dentist,S,N,18,18.0,113.81,150,NaN,#,NaN,NaN,NaN,NaN,#,NaN,NaN,0.0,0.00,NaN,18.0,113.81,NaN,0.0,0.0,*,NaN,NaN,*,NaN,NaN,#,NaN,NaN,*,NaN,NaN,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,12.0,81.54,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243.0,1.0,TN,US,Nurse Practitioner,S,N,90,110.0,7561.21,2681,11.0,NaN,65.0,85.000000,3894.08,1931.0,*,NaN,NaN,28.0,6576.28,NaN,62.0,984.93,NaN,0.0,0.0,NaN,22.0,485.04,NaN,68.0,7076.17,NaN,73.0,3947.56,NaN,17.0,3613.65,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,0.0,0.00,0.0,NaN,0.0,0.0,NaN,0.0,62.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148

In [936]:
df=df.astype({"beneficiary_female_count": int, "beneficiary_male_count": int})

In [937]:
# Sum of two columns.
df["beneficiary_sum"] = df["beneficiary_female_count"] + df["beneficiary_male_count"]

In [938]:
# Select rows with value more than 10.
df1=df[df["beneficiary_sum"]>10]

In [939]:
df1.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,ge65_suppress_flag,total_claim_count_ge65,total_30_day_fill_count_ge65,total_drug_cost_ge65,total_day_supply_ge65,bene_count_ge65_suppress_flag,bene_count_ge65,brand_suppress_flag,brand_claim_count,brand_drug_cost,generic_suppress_flag,generic_claim_count,generic_drug_cost,other_suppress_flag,other_claim_count,other_drug_cost,mapd_suppress_flag,mapd_claim_count,mapd_drug_cost,pdp_suppress_flag,pdp_claim_count,pdp_drug_cost,lis_suppress_flag,lis_claim_count,lis_drug_cost,nonlis_suppress_flag,nonlis_claim_count,nonlis_drug_cost,opioid_claim_count,opioid_drug_cost,opioid_day_supply,opioid_bene_count,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_drug_cost,la_opioid_day_supply,la_opioid_bene_count,la_opioid_prescriber_rate,antibiotic_claim_count,antibiotic_drug_cost,antibiotic_bene_count,antipsych_ge65_suppress_flag,antipsych_claim_count_ge65,antipsych_drug_cost_ge65,antipsych_bene_ge65_suppress_flg,antipsych_bene_count_ge65,average_age_of_beneficiaries,beneficiary_age_less_65_count,beneficiary_age_65_74_count,beneficiary_age_75_84_count,beneficiary_age_greater_84_count,beneficiary_female_count,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,beneficiary_sum
0,1003000126,ENKESHAFI,ARDALAN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,21502.0,1854.0,MD,US,Internal Medicine,S,E,677,695.5,32639.57,14788,234.0,NaN,516.0,532.533333,23174.78,11428.0,NaN,182.0,#,NaN,NaN,NaN,552.0,5941.53,*,NaN,NaN,NaN,150.0,3032.66,NaN,527.0,29606.91,NaN,305.0,17267.72,NaN,372.0,15371.85,25.0,197.47,134.0,24.0,3.69,NaN,NaN,NaN,NaN,NaN,125.0,2478.65,104.0,*,NaN,NaN,*,NaN,72.0,52.0,82.0,67.0,33.0,142,92,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685,234
1,1003000142,KHALIL,RASHID,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,43623.0,3536.0,OH,US,Anesthesiology,S,E,1946,2054.8,140189.01,58605,276.0,NaN,881.0,919.066667,50838.50,26089.0,NaN,160.0,NaN,235.0,106048.28,NaN,1711.0,34140.73,NaN,0.0,0.0,NaN,930.0,67081.22,NaN,1016.0,73107.79,NaN,1184.0,94361.07,NaN,762.0,45827.94,1040.0,50895.21,29238.0,200.0,53.44,200.0,37637.86,5853.0,49.0,19.23,0.0,0.00,0.0,NaN,0.0,0.00,NaN,0.0,65.0,116.0,99.0,45.0,16.0,184,92,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029,276
2,1003000167,ESCOBAR,JULIO,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,89403.0,7482.0,NV,US,Dentist,S,N,55,55.0,302.01,430,33.0,#,NaN,NaN,NaN,NaN,#,NaN,NaN,0.0,0.00,#,NaN,NaN,*,NaN,NaN,NaN,16.0,58.19,NaN,39.0,243.82,*,NaN,NaN,#,NaN,NaN,14.0,61.95,35.0,11.0,25.45,0.0,0.00,0.0,0.0,0.00,28.0,134.92,22.0,NaN,0.0,0.00,NaN,0.0,72.0,NaN,NaN,NaN,NaN,16,17,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598,33
5,1003000407,GIRARDI,DAVID,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,15825.0,1367.0,PA,US,Family Practice,S,E,2788,2798.1,108601.73,50677,117.0,NaN,2700.0,2710.033333,102520.84,48655.0,#,NaN,#,NaN,NaN,NaN,1919.0,36600.82,*,NaN,NaN,NaN,702.0,19649.55,NaN,2086.0,88952.18,NaN,1990.0,79997.59,NaN,798.0,28604.14,32.0,1637.39,622.0,11.0,1.15,15.0,1317.34,260.0,NaN,46.88,89.0,1574.46,55.0,NaN,38.0,1608.62,#,NaN,81.0,NaN,NaN,NaN,NaN,86,31,117.0,0.0,0.0,0.0,0.0,0.0,71.0,46.0,1.8494,117
6,1003000423,VELOTTA,JENNIFER,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,44106.0,1716.0,OH,US,Obstetrics & Gynecology,S,E,200,307.2,14549.85,7587,65.0,NaN,118.0,202.800000,10062.90,4964.0,NaN,46.0,NaN,48.0,7798.28,NaN,152.0,6751.57,NaN,0.0,0.0,NaN,81.0,6681.72,NaN,119.0,7868.13,NaN,70.0,3657.25,NaN,130.0,10892.60,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,13.0,141.50,NaN,NaN,0.0,0.00,NaN,0.0,66.0,19.0,25.0,NaN,NaN,65,0,NaN,NaN,0.0,NaN,0.0,0.0,48.0,17.0,0.7880,65

In [940]:
df.shape

(1162898, 84)

In [941]:
df1.shape

(822278, 84)

In [942]:
df1["npi"].unique().shape

(822278,)

In [943]:
# Take the mean
# Answer for question 1
df1["beneficiary_sum"].mean()

192.62371485069525

#### Question 2: Work out for each Specialty the fraction of drug claims that are for brand-name drugs. Include only providers for whom the relevant information has not been suppressed, and consider only specialties with at least 1000 total claims. What is the standard deviation of these fractions?

In [944]:
df2=df[["specialty_description", "npi", "brand_claim_count", "total_claim_count"]]

In [945]:
df2.head()

  specialty_description         npi  brand_claim_count  total_claim_count
0     Internal Medicine  1003000126                NaN                677
1        Anesthesiology  1003000142              235.0               1946
2               Dentist  1003000167                0.0                 55
3               Dentist  1003000175                0.0                 18
4    Nurse Practitioner  1003000282               28.0                 90

In [946]:
df2.shape

(1162898, 4)

In [947]:
df2.dropna(inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [948]:
df2.shape

(692559, 4)

In [949]:
df2_gp=df2.groupby(["specialty_description", "npi"]).sum()

In [950]:
df2_gp.head()

                                  brand_claim_count  total_claim_count
specialty_description npi
Acupuncturist         1053584680               17.0                 89
                      1104878719               12.0                142
                      1174589279               34.0                340
                      1245383389                0.0                 21
                      1245386119                0.0                 11

In [951]:
# Compute the sum of claim for each specialty.
df2_sum = df2_gp.groupby(["specialty_description"]).agg({"brand_claim_count": "sum", "total_claim_count": "sum"})

In [952]:
df2_sum.head()

,brand_claim_count,total_claim_count
specialty_description,,
Acupuncturist,626.0,3254
Addiction Medicine,44917.0,178816
Advanced Heart Failure and Transplant Cardiology,803.0,4552
Advanced Practice Dental Therapist,0.0,59
Allergy/ Immunology,883748.0,2519053

In [953]:
df2_sum.shape

(180, 2)

In [954]:
# Select rows with value at least 10.
df2_claim=df2_sum[df2_sum["total_claim_count"]>=1000]

In [955]:
df2_claim.head()

,brand_claim_count,total_claim_count
specialty_description,,
Acupuncturist,626.0,3254
Addiction Medicine,44917.0,178816
Advanced Heart Failure and Transplant Cardiology,803.0,4552
Allergy/ Immunology,883748.0,2519053
Anesthesiology,503470.0,4019265

In [956]:
df2_claim.shape

(116, 2)

In [957]:
df2_claim["brand_claim_fraction"]=df2_claim["brand_claim_count"]/df2_claim["total_claim_count"]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [958]:
df2_claim.head()

,brand_claim_count,total_claim_count,brand_claim_fraction
specialty_description,,,
Acupuncturist,626.0,3254,0.192379
Addiction Medicine,44917.0,178816,0.251191
Advanced Heart Failure and Transplant Cardiology,803.0,4552,0.176406
Allergy/ Immunology,883748.0,2519053,0.350825
Anesthesiology,503470.0,4019265,0.125264

In [959]:
df2_claim["brand_claim_fraction"].std()

0.09664998667912823

#### Question 3: For each provider, estimate the length of the average prescription from the total_day_supply and total_claim_count. What is the median, in days, of the distribution of this value across all providers?

In [960]:
df3=df[["npi", "total_day_supply", "total_claim_count"]]

In [961]:
df3.head()

          npi  total_day_supply  total_claim_count
0  1003000126             14788                677
1  1003000142             58605               1946
2  1003000167               430                 55
3  1003000175               150                 18
4  1003000282              2681                 90

In [962]:
df3["length_average_prescription"]=df3["total_day_supply"]/df3["total_claim_count"]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [963]:
df3.head()

,npi,total_day_supply,total_claim_count,length_average_prescription
0,1003000126,14788,677,21.843427
1,1003000142,58605,1946,30.115622
2,1003000167,430,55,7.818182
3,1003000175,150,18,8.333333
4,1003000282,2681,90,29.788889

In [964]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162898 entries, 0 to 1162897
Data columns (total 4 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   npi                          1162898 non-null  int64
 1   total_day_supply             1162898 non-null  int64
 2   total_claim_count            1162898 non-null  int64
 3   length_average_prescription  1162898 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 35.5 MB

In [965]:
df3.shape

(1162898, 4)

In [966]:
df3["length_average_prescription"].median()

29.7125748502994

#### Question 4: Find the ratio of beneficiaries with opioid prescriptions to beneficiaries with antibiotics prescriptions in each state. Assume that each beneficiary attends only a single provider. What is the difference between the largest and smallest ratios?

In [967]:
df4=df[["npi", "nppes_provider_state", "opioid_bene_count", "la_opioid_bene_count", "antibiotic_bene_count"]]

In [968]:
df4.head()

,npi,nppes_provider_state,opioid_bene_count,la_opioid_bene_count,antibiotic_bene_count
0,1003000126,MD,24.0,NaN,104.0
1,1003000142,OH,200.0,49.0,0.0
2,1003000167,NV,11.0,0.0,22.0
3,1003000175,CA,0.0,0.0,NaN
4,1003000282,TN,0.0,0.0,0.0

In [969]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162898 entries, 0 to 1162897
Data columns (total 5 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   npi                    1162898 non-null  int64
 1   nppes_provider_state   1162898 non-null  object
 2   opioid_bene_count      775464 non-null   float64
 3   la_opioid_bene_count   947351 non-null   float64
 4   antibiotic_bene_count  762301 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 44.4+ MB

In [970]:
df4.fillna(0, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [971]:
df4.head()

,npi,nppes_provider_state,opioid_bene_count,la_opioid_bene_count,antibiotic_bene_count
0,1003000126,MD,24.0,0.0,104.0
1,1003000142,OH,200.0,49.0,0.0
2,1003000167,NV,11.0,0.0,22.0
3,1003000175,CA,0.0,0.0,0.0
4,1003000282,TN,0.0,0.0,0.0

In [972]:
df4["total_opioid_bene_count"]=df4["opioid_bene_count"]+df4["la_opioid_bene_count"]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [973]:
df4.head()

,npi,nppes_provider_state,opioid_bene_count,la_opioid_bene_count,antibiotic_bene_count,total_opioid_bene_count
0,1003000126,MD,24.0,0.0,104.0,24.0
1,1003000142,OH,200.0,49.0,0.0,249.0
2,1003000167,NV,11.0,0.0,22.0,11.0
3,1003000175,CA,0.0,0.0,0.0,0.0
4,1003000282,TN,0.0,0.0,0.0,0.0

In [974]:
# But first we extract the columns we need.
df4_sum=df4[["npi", "nppes_provider_state", "antibiotic_bene_count", "total_opioid_bene_count"]]

In [975]:
df4_sum.head()

,npi,nppes_provider_state,antibiotic_bene_count,total_opioid_bene_count
0,1003000126,MD,104.0,24.0
1,1003000142,OH,0.0,249.0
2,1003000167,NV,22.0,11.0
3,1003000175,CA,0.0,0.0
4,1003000282,TN,0.0,0.0

In [976]:
df4_gp=df4_sum.groupby(["nppes_provider_state"]).sum()

In [977]:
df4_gp.head()

,npi,antibiotic_bene_count,total_opioid_bene_count
nppes_provider_state,,,
AA,34373045306,496.0,145.0
AE,129407019167,1986.0,1012.0
AK,3713070667511,25223.0,22110.0
AL,21683198946509,763225.0,565852.0
AP,86807169203,1627.0,688.0

In [978]:
df4_gp.shape

(61, 3)

In [979]:
# Due to the nature of the question, we have to drop all 0 on the antibiotic_bene_count column.
df4_gp = df4_gp[df4_gp["antibiotic_bene_count"] != 0]

In [980]:
df4_gp.head()

,npi,antibiotic_bene_count,total_opioid_bene_count
nppes_provider_state,,,
AA,34373045306,496.0,145.0
AE,129407019167,1986.0,1012.0
AK,3713070667511,25223.0,22110.0
AL,21683198946509,763225.0,565852.0
AP,86807169203,1627.0,688.0

In [981]:
df4_gp.shape

(61, 3)

In [982]:
df4_gp["ratio"]=df4_gp["total_opioid_bene_count"]/df4_gp["antibiotic_bene_count"]

In [983]:
df4_gp.head()

,npi,antibiotic_bene_count,total_opioid_bene_count,ratio
nppes_provider_state,,,,
AA,34373045306,496.0,145.0,0.292339
AE,129407019167,1986.0,1012.0,0.509567
AK,3713070667511,25223.0,22110.0,0.876581
AL,21683198946509,763225.0,565852.0,0.741396
AP,86807169203,1627.0,688.0,0.422864

In [984]:
ratio_min=df4_gp["ratio"].min()

In [985]:
ratio_max=df4_gp["ratio"].max()

In [986]:
ratio_min

0.21823204419889503

In [987]:
ratio_max

0.9058112948610609

In [988]:
diff=ratio_max-ratio_min

In [989]:
diff

0.6875792506621659

#### Question 5: For each provider where the relevant columns are not suppressed, work out the fraction of claims for beneficiaries age 65 and older, as well as the fraction of claims for beneficiaries with a low-income subsidy. What is the Pearson correlation coefficient between these values?

In [990]:
df5=df[["npi", "total_claim_count_ge65", "lis_claim_count", "total_claim_count"]]

In [991]:
df5.head()

          npi  total_claim_count_ge65  lis_claim_count  total_claim_count
0  1003000126                   516.0            305.0                677
1  1003000142                   881.0           1184.0               1946
2  1003000167                     NaN              NaN                 55
3  1003000175                     NaN              NaN                 18
4  1003000282                    65.0             73.0                 90

In [992]:
df5.shape

(1162898, 4)

In [993]:
df5.dropna(inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [994]:
df5.shape

(834684, 4)

In [995]:
df5.head()

          npi  total_claim_count_ge65  lis_claim_count  total_claim_count
0  1003000126                   516.0            305.0                677
1  1003000142                   881.0           1184.0               1946
4  1003000282                    65.0             73.0                 90
5  1003000407                  2700.0           1990.0               2788
6  1003000423                   118.0             70.0                200

In [996]:
df5["fraction_claim_ge65"]=df5["total_claim_count_ge65"]/df5["total_claim_count"]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [997]:
df5.head()

,npi,total_claim_count_ge65,lis_claim_count,total_claim_count,fraction_claim_ge65
0,1003000126,516.0,305.0,677,0.762186
1,1003000142,881.0,1184.0,1946,0.452724
4,1003000282,65.0,73.0,90,0.722222
5,1003000407,2700.0,1990.0,2788,0.968436
6,1003000423,118.0,70.0,200,0.590000

In [998]:
df5["fraction_lis_claim"]=df5["lis_claim_count"]/df5["total_claim_count"]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [999]:
df5.head()

,npi,total_claim_count_ge65,lis_claim_count,total_claim_count,fraction_claim_ge65,fraction_lis_claim
0,1003000126,516.0,305.0,677,0.762186,0.450517
1,1003000142,881.0,1184.0,1946,0.452724,0.608428
4,1003000282,65.0,73.0,90,0.722222,0.811111
5,1003000407,2700.0,1990.0,2788,0.968436,0.713773
6,1003000423,118.0,70.0,200,0.590000,0.350000

In [1000]:
# Compute the pearson correlation.
df5["fraction_claim_ge65"].corr(df5["fraction_lis_claim"], method="pearson")

-0.6389319595676912

#### Question 6: Let's find which states have surprisingly high supply of opioids, conditioned on specialty. Work out the average length of an opioid prescription for each provider. For each (state, specialty) pair with at least 100 providers, calculate the average of this value across all providers. Then find the ratio of this value to an equivalent quantity calculated from providers in each specialty across all states. What is the largest such ratio?

In [1001]:
df6=df[["specialty_description", "npi", "nppes_provider_state", "opioid_day_supply", "la_opioid_day_supply", "opioid_claim_count", "la_opioid_claim_count"]]

In [1002]:
df6.head()

,specialty_description,npi,nppes_provider_state,opioid_day_supply,la_opioid_day_supply,opioid_claim_count,la_opioid_claim_count
0,Internal Medicine,1003000126,MD,134.0,NaN,25.0,NaN
1,Anesthesiology,1003000142,OH,29238.0,5853.0,1040.0,200.0
2,Dentist,1003000167,NV,35.0,0.0,14.0,0.0
3,Dentist,1003000175,CA,0.0,0.0,0.0,0.0
4,Nurse Practitioner,1003000282,TN,0.0,0.0,0.0,0.0

In [1003]:
df6.fillna(0, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [1004]:
df6.head()

,specialty_description,npi,nppes_provider_state,opioid_day_supply,la_opioid_day_supply,opioid_claim_count,la_opioid_claim_count
0,Internal Medicine,1003000126,MD,134.0,0.0,25.0,0.0
1,Anesthesiology,1003000142,OH,29238.0,5853.0,1040.0,200.0
2,Dentist,1003000167,NV,35.0,0.0,14.0,0.0
3,Dentist,1003000175,CA,0.0,0.0,0.0,0.0
4,Nurse Practitioner,1003000282,TN,0.0,0.0,0.0,0.0

In [1005]:
df6["opioid_day_supply_sum"]=df6["opioid_day_supply"]+df6["la_opioid_day_supply"]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1006]:
df6["opioid_claim_sum"]=df6["opioid_claim_count"]+df6["la_opioid_claim_count"]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1007]:
df6.head()

,specialty_description,npi,nppes_provider_state,opioid_day_supply,la_opioid_day_supply,opioid_claim_count,la_opioid_claim_count,opioid_day_supply_sum,opioid_claim_sum
0,Internal Medicine,1003000126,MD,134.0,0.0,25.0,0.0,134.0,25.0
1,Anesthesiology,1003000142,OH,29238.0,5853.0,1040.0,200.0,35091.0,1240.0
2,Dentist,1003000167,NV,35.0,0.0,14.0,0.0,35.0,14.0
3,Dentist,1003000175,CA,0.0,0.0,0.0,0.0,0.0,0.0
4,Nurse Practitioner,1003000282,TN,0.0,0.0,0.0,0.0,0.0,0.0

In [1008]:
# Due to the nature of the question, we have to drop 0 on opioid_claim_sum column.
df6 = df6[df6["opioid_claim_sum"] != 0]

In [1009]:
df6.head()

,specialty_description,npi,nppes_provider_state,opioid_day_supply,la_opioid_day_supply,opioid_claim_count,la_opioid_claim_count,opioid_day_supply_sum,opioid_claim_sum
0,Internal Medicine,1003000126,MD,134.0,0.0,25.0,0.0,134.0,25.0
1,Anesthesiology,1003000142,OH,29238.0,5853.0,1040.0,200.0,35091.0,1240.0
2,Dentist,1003000167,NV,35.0,0.0,14.0,0.0,35.0,14.0
5,Family Practice,1003000407,PA,622.0,260.0,32.0,15.0,882.0,47.0
8,Family Practice,1003000522,FL,3509.0,0.0,128.0,0.0,3509.0,128.0

In [1010]:
df6["average_length_opioid"]=df6["opioid_day_supply_sum"]/df6["opioid_claim_sum"]

In [1011]:
df6.head()

,specialty_description,npi,nppes_provider_state,opioid_day_supply,la_opioid_day_supply,opioid_claim_count,la_opioid_claim_count,opioid_day_supply_sum,opioid_claim_sum,average_length_opioid
0,Internal Medicine,1003000126,MD,134.0,0.0,25.0,0.0,134.0,25.0,5.360000
1,Anesthesiology,1003000142,OH,29238.0,5853.0,1040.0,200.0,35091.0,1240.0,28.299194
2,Dentist,1003000167,NV,35.0,0.0,14.0,0.0,35.0,14.0,2.500000
5,Family Practice,1003000407,PA,622.0,260.0,32.0,15.0,882.0,47.0,18.765957
8,Family Practice,1003000522,FL,3509.0,0.0,128.0,0.0,3509.0,128.0,27.414062

In [1012]:
df6_gp1=df6.groupby(["nppes_provider_state", "specialty_description"]).sum()

In [1013]:
df6_gp1

                                                                                npi  \
nppes_provider_state specialty_description
AA                   Dentist                                             4393347745
                     Internal Medicine                                   1750510327
                     Oral Surgery (Dentist only)                         1033255906
                     Physician Assistant                                 2268950945
AE                   Dentist                                             8653901217
...                                                                             ...
ZZ                   Orthopedic Surgery                                  1780679258
                     Otolaryngology                                      2259391291
                     Physician Assistant                                 5861286550
                     Student in an Organized Health Care Education/T...  2752963555
                     Urology                                             1265986087

                                                                         opioid_day_supply  \
nppes_provider_state specialty_description
AA                   Dentist                                                         149.0
                     Internal Medicine                                               294.0
                     Oral Surgery (Dentist only)                                      56.0
                     Physician Assistant                                             266.0
AE                   Dentist                                                         526.0
...                                                                                    ...
ZZ                   Orthopedic Surgery                                              134.0
                     Otolaryngology                                                  342.0
                     Physician Assistant                                           14859.0
                     Student in an Organized Health Care Education/T...              117.0
                     Urology                                                         146.0

                                                                         la_opioid_day_supply  \
nppes_provider_state specialty_description
AA                   Dentist                                                              0.0
                     Internal Medicine                                                    0.0
                     Oral Surgery (Dentist only)                                          0.0
                     Physician Assistant                                                  0.0
AE                   Dentist                                                              0.0
...                                                                                       ...
ZZ                   Orthopedic Surgery                                                   0.0
                     Otolaryngology                                                       0.0
                     Physician Assistant                                                  0.0
                     Student in an Organized Health Care Education/T...                   0.0
                     Urology                                                              0.0

                                                                         opioid_claim_count  \
nppes_provider_state specialty_description
AA                   Dentist                                                           50.0
                     Internal Medicine                                                 48.0
                     Oral Surgery (Dentist only)                                       22.0
                     Physician Assistant                                               59.0
AE                   Dentist                                                          152.0
...                                                                                     ...
ZZ                   Orthopedic Surgery                                                25.0
                     Otolaryngology                                                    65.0
                     Physician Assistant                                              622.0
                     Student in an Organized Health Care Education/T...                30.0
                     Urology                                                           23.0

                                                                         la_opioid_claim_count  \
nppes_provider_state specialty_description
AA                   Dentist                                                               0.0
                     Internal Medicine                                                     0.0
                     Oral Surgery (Dentist only)                                           0.0
                     Physician Assistant                                                   0.0
AE                   Dentist                                                               0.0
...                                                                                        ...
ZZ                   Orthopedic Surgery                                                    0.0
                     Otolaryngology                                                        0.0
                     Physician Assistant                                                   0.0
                     Student in an Organized Health Care Education/T...                    0.0
                     Urology                                                               0.0

                                                                         opioid_day_supply_sum  \
nppes_provider_state specialty_description
AA                   Dentist                                                             149.0
                     Internal Medicine                                                   294.0
                     Oral Surgery (Dentist only)                                          56.0
                     Physician Assistant                                                 266.0
AE                   Dentist                                                             526.0
...                                                                                        ...
ZZ                   Orthopedic Surgery                                                  134.0
                     Otolaryngology                                                      342.0
                     Physician Assistant                                               14859.0
                     Student in an Organized Health Care Education/T...                  117.0
                     Urology                                                             146.0

                                                                         opioid_claim_sum  \
nppes_provider_state specialty_description
AA                   Dentist                                                         50.0
                     Internal Medicine                                               48.0
                     Oral Surgery (Dentist only)                                     22.0
                     Physician Assistant                                             59.0
AE                   Dentist                                                        152.0
...                                                                                   ...
ZZ                   Orthopedic Surgery                                              25.0
                     Otolaryngology                                                  65.0
                     Physician Assistant                                            622.0
                     Student in an Organized Health Care Education/T...              30.0
                     Urology                                                         23.0

                                                                         average_length_opioid
nppes_provider_state specialty_description
AA                   Dentist                                                          9.001435
                     Internal Medicine                                                6.125000
                     Oral Surgery (Dentist only)                                      2.545455
                     Physician Assistant                                              9.817376
AE                   Dentist                                                         20.699121
...                                                                                        ...
ZZ                   Orthopedic Surgery                                               5.360000
                     Otolaryngology                                                  10.282051
                     Physician Assistant                                             63.135931
                     Student in an Organized Health Care Education/T...               8.569378
                     Urology                                                          6.347826

[3751 rows x 8 columns]

In [1014]:
# Extract a series on the States.
df6_gp1.index.get_level_values(0).unique()

Index(['AA', 'AE', 'AK', 'AL', 'AP', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC',
       'DE', 'FL', 'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA',
       'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE',
       'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC',
       'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY', 'XX',
       'ZZ'],
      dtype='object', name='nppes_provider_state')

In [1015]:
# Loop through all values in the above series.
# Compare the length of each cross-section with 100.
# Drop the ones that is less than 100.
for x in df6_gp1.index.get_level_values(0).unique():
    print(len(df6_gp1.xs(x, drop_level=False)))

4
8
46
74
9
63
2
80
102
80
69
58
53
96
86
11
59
69
64
84
71
72
73
78
78
71
59
79
77
76
3
65
62
77
52
63
53
76
68
66
89
81
73
81
83
70
63
73
54
76
86
69
79
17
49
78
76
56
44
5
13

In [1016]:
for x in df6_gp1.index.get_level_values(0).unique():
    if len(df6_gp1.xs(x, drop_level=False))<100:
        df6_gp1=df6_gp1.drop(x, axis=0)
    df6_clean1=df6_gp1

In [1017]:
# It turns out, only CA satisfies the condition of at least 100 providers.
df6_clean1

                                                                                   npi  \
nppes_provider_state specialty_description
CA                   Acupuncturist                                          1548374754
                     Addiction Medicine                                    17265249600
                     Allergy/ Immunology                                   28523160493
                     Ambulatory Surgical Center                             1518027911
                     Anesthesiology                                       483177417826
...                                                                                ...
                     Thoracic Surgery (Cardiothoracic Vascular Surgery)     4941222572
                     Undefined Physician type                              25488724186
                     Unknown Supplier/Provider Specialty                    1780929034
                     Urology                                             1137887232644
                     Vascular Surgery                                     345950424568

                                                                         opioid_day_supply  \
nppes_provider_state specialty_description
CA                   Acupuncturist                                                  2662.0
                     Addiction Medicine                                            37800.0
                     Allergy/ Immunology                                           68290.0
                     Ambulatory Surgical Center                                       39.0
                     Anesthesiology                                              4826285.0
...                                                                                    ...
                     Thoracic Surgery (Cardiothoracic Vascular Surgery)              850.0
                     Undefined Physician type                                      10329.0
                     Unknown Supplier/Provider Specialty                             849.0
                     Urology                                                      227607.0
                     Vascular Surgery                                              70889.0

                                                                         la_opioid_day_supply  \
nppes_provider_state specialty_description
CA                   Acupuncturist                                                      480.0
                     Addiction Medicine                                               16810.0
                     Allergy/ Immunology                                                974.0
                     Ambulatory Surgical Center                                           0.0
                     Anesthesiology                                                 1332772.0
...                                                                                       ...
                     Thoracic Surgery (Cardiothoracic Vascular Surgery)                   0.0
                     Undefined Physician type                                          1260.0
                     Unknown Supplier/Provider Specialty                                  0.0
                     Urology                                                            861.0
                     Vascular Surgery                                                   892.0

                                                                         opioid_claim_count  \
nppes_provider_state specialty_description
CA                   Acupuncturist                                                    100.0
                     Addiction Medicine                                              1814.0
                     Allergy/ Immunology                                             2516.0
                     Ambulatory Surgical Center                                        13.0
                     Anesthesiology                                                173319.0
...                                                                                     ...
                     Thoracic Surgery (Cardiothoracic Vascular Surgery)               118.0
                     Undefined Physician type                                         688.0
                     Unknown Supplier/Provider Specialty                               52.0
                     Urology                                                        37081.0
                     Vascular Surgery                                               10813.0

                                                                         la_opioid_claim_count  \
nppes_provider_state specialty_description
CA                   Acupuncturist                                                        16.0
                     Addiction Medicine                                                  655.0
                     Allergy/ Immunology                                                  34.0
                     Ambulatory Surgical Center                                            0.0
                     Anesthesiology                                                    45888.0
...                                                                                        ...
                     Thoracic Surgery (Cardiothoracic Vascular Surgery)                    0.0
                     Undefined Physician type                                             42.0
                     Unknown Supplier/Provider Specialty                                   0.0
                     Urology                                                              41.0
                     Vascular Surgery                                                     33.0

                                                                         opioid_day_supply_sum  \
nppes_provider_state specialty_description
CA                   Acupuncturist                                                      3142.0
                     Addiction Medicine                                                54610.0
                     Allergy/ Immunology                                               69264.0
                     Ambulatory Surgical Center                                           39.0
                     Anesthesiology                                                  6159057.0
...                                                                                        ...
                     Thoracic Surgery (Cardiothoracic Vascular Surgery)                  850.0
                     Undefined Physician type                                          11589.0
                     Unknown Supplier/Provider Specialty                                 849.0
                     Urology                                                          228468.0
                     Vascular Surgery                                                  71781.0

                                                                         opioid_claim_sum  \
nppes_provider_state specialty_description
CA                   Acupuncturist                                                  116.0
                     Addiction Medicine                                            2469.0
                     Allergy/ Immunology                                           2550.0
                     Ambulatory Surgical Center                                      13.0
                     Anesthesiology                                              219207.0
...                                                                                   ...
                     Thoracic Surgery (Cardiothoracic Vascular Surgery)             118.0
                     Undefined Physician type                                       730.0
                     Unknown Supplier/Provider Specialty                             52.0
                     Urology                                                      37122.0
                     Vascular Surgery                                             10846.0

                                                                         average_length_opioid
nppes_provider_state specialty_description
CA                   Acupuncturist                                                   27.086207
                     Addiction Medicine                                             231.034592
                     Allergy/ Immunology                                            513.721020
                     Ambulatory Surgical Center                                       3.000000
                     Anesthesiology                                                8432.857455
...                                                                                        ...
                     Thoracic Surgery (Cardiothoracic Vascular Surgery)              30.818767
                     Undefined Physician type                                       240.085582
                     Unknown Supplier/Provider Specialty                             16.326923
                     Urology                                                       4590.937215
                     Vascular Surgery                                              1537.939238

[102 rows x 8 columns]

In [1018]:
df6_clean1["average_length_opioid"].mean()

7822.780283193812

In [1019]:
df6_gp2=df6.groupby(["specialty_description", "nppes_provider_state"]).sum()

In [1020]:
df6_gp2

                                                    npi  opioid_day_supply  \
specialty_description nppes_provider_state
Acupuncturist         CA                     1548374754             2662.0
                      FL                     1245296268              259.0
                      MT                     1326193772              280.0
                      OR                     2601709318              733.0
                      VA                     1124075114              881.0
...                                                 ...                ...
Vascular Surgery      VT                     3340172594              173.0
                      WA                    69779686682             9823.0
                      WI                    29108525306             3848.0
                      WV                    20322164146             7993.0
                      WY                     1841422094              329.0

                                            la_opioid_day_supply  \
specialty_description nppes_provider_state
Acupuncturist         CA                                   480.0
                      FL                                     0.0
                      MT                                     0.0
                      OR                                     0.0
                      VA                                   322.0
...                                                          ...
Vascular Surgery      VT                                     0.0
                      WA                                     0.0
                      WI                                     0.0
                      WV                                     0.0
                      WY                                     0.0

                                            opioid_claim_count  \
specialty_description nppes_provider_state
Acupuncturist         CA                                 100.0
                      FL                                  14.0
                      MT                                  12.0
                      OR                                  40.0
                      VA                                  45.0
...                                                        ...
Vascular Surgery      VT                                  28.0
                      WA                                1769.0
                      WI                                 680.0
                      WV                                 834.0
                      WY                                  46.0

                                            la_opioid_claim_count  \
specialty_description nppes_provider_state
Acupuncturist         CA                                     16.0
                      FL                                      0.0
                      MT                                      0.0
                      OR                                      0.0
                      VA                                     18.0
...                                                           ...
Vascular Surgery      VT                                      0.0
                      WA                                      0.0
                      WI                                      0.0
                      WV                                      0.0
                      WY                                      0.0

                                            opioid_day_supply_sum  \
specialty_description nppes_provider_state
Acupuncturist         CA                                   3142.0
                      FL                                    259.0
                      MT                                    280.0
                      OR                                    733.0
                      VA                                   1203.0
...                                                           ...
Vascular Surgery      VT                                    173.0
                      WA                                   9823.0
                      WI                                   3848.0
                      WV                                   7993.0
                      WY                                    329.0

                                            opioid_claim_sum  \
specialty_description nppes_provider_state
Acupuncturist         CA                               116.0
                      FL                                14.0
                      MT                                12.0
                      OR                                40.0
                      VA                                63.0
...                                                      ...
Vascular Surgery      VT                                28.0
                      WA                              1769.0
                      WI                               680.0
                      WV                               834.0
                      WY                                46.0

                                            average_length_opioid
specialty_description nppes_provider_state
Acupuncturist         CA                                27.086207
                      FL                                18.500000
                      MT                                23.333333
                      OR                                37.279202
                      VA                                19.095238
...                                                           ...
Vascular Surgery      VT                                12.364103
                      WA                               254.207205
                      WI                               110.830097
                      WV                               109.375376
                      WY                                 7.152174

[3751 rows x 8 columns]

In [1021]:
# Extract a series on the States.
df6_gp2.index.get_level_values(0).unique()

Index(['Acupuncturist', 'Addiction Medicine', 'Allergy/ Immunology',
       'Ambulatory Surgical Center', 'Anesthesiology', 'Assistant, Podiatric',
       'Cardiac Surgery', 'Cardiology', 'Case Manager/Care Coordinator',
       'Certified Clinical Nurse Specialist',
       ...
       'Sports Medicine',
       'Student in an Organized Health Care Education/Training Program',
       'Surgery', 'Surgical Oncology', 'Thoracic Surgery',
       'Thoracic Surgery (Cardiothoracic Vascular Surgery)',
       'Undefined Physician type', 'Unknown Supplier/Provider Specialty',
       'Urology', 'Vascular Surgery'],
      dtype='object', name='specialty_description', length=132)

In [1022]:
# Loop through all values in the above series.
# Compare the length of each cross-section with 100.
# Drop the ones that is less than 100.
for x in df6_gp2.index.get_level_values(0).unique():
    print(len(df6_gp2.xs(x, drop_level=False)))

6
30
40
6
53
3
42
51
2
44
19
21
9
2
12
16
42
1
18
49
2
1
9
36
1
1
57
1
50
41
1
2
1
57
46
2
37
57
52
22
55
58
50
11
47
50
1
46
53
1
48
6
51
5
49
60
35
50
36
14
1
4
1
1
51
1
4
53
6
6
52
33
54
9
24
53
15
54
53
51
19
47
56
50
56
50
2
53
51
24
51
2
10
6
13
3
4
53
4
59
44
52
52
39
52
43
3
49
52
4
32
3
4
1
1
52
29
2
1
42
1
1
49
53
35
44
49
19
29
2
54
51

In [1023]:
# In here, we cannot use the at least 100 provider condition due to above. 
# We will have no data left.

# for x in df6_gp2.index.get_level_values(0).unique():
#    if len(df6_gp2.xs(x, drop_level=False))<100:
#        df6_gp2=df6_gp2.drop(x, axis=0)
#    df6_clean2=df6_gp2

In [1024]:
# df6_clean2

In [1025]:
df6_gp2["average_length_opioid"].mean()

2006.0372576291318

In [1026]:
df6_gp2["average_length_opioid"].min()

1.3636363636363635

In [1027]:
ratio_lg=df6_clean1["average_length_opioid"].mean()/df6_gp2["average_length_opioid"].min()

In [1028]:
ratio_lg

5736.705541008796

#### Question 7: For each provider for whom the information is not suppressed, figure out the average cost per day of prescriptions in both 2016 and 2017. Use this to estimate the inflation rate for daily prescription costs per provider. What is the average inflation rate across all providers?

In [1029]:
df_2016=pd.read_csv("/Users/xin/Downloads/Medicare Analysis/PartD_Prescriber_PUF_NPI_16.txt", delimiter="\t")

In [1030]:
df_2016.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,ge65_suppress_flag,total_claim_count_ge65,total_30_day_fill_count_ge65,total_drug_cost_ge65,total_day_supply_ge65,bene_count_ge65_suppress_flag,bene_count_ge65,brand_suppress_flag,brand_claim_count,brand_drug_cost,generic_suppress_flag,generic_claim_count,generic_drug_cost,other_suppress_flag,other_claim_count,other_drug_cost,mapd_suppress_flag,mapd_claim_count,mapd_drug_cost,pdp_suppress_flag,pdp_claim_count,pdp_drug_cost,lis_suppress_flag,lis_claim_count,lis_drug_cost,nonlis_suppress_flag,nonlis_claim_count,nonlis_drug_cost,opioid_claim_count,opioid_drug_cost,opioid_day_supply,opioid_bene_count,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_drug_cost,la_opioid_day_supply,la_opioid_bene_count,la_opioid_prescriber_rate,antibiotic_claim_count,antibiotic_drug_cost,antibiotic_bene_count,antipsych_ge65_suppress_flag,antipsych_claim_count_ge65,antipsych_drug_cost_ge65,antipsych_bene_ge65_suppress_flg,antipsych_bene_count_ge65,average_age_of_beneficiaries,beneficiary_age_less_65_count,beneficiary_age_65_74_count,beneficiary_age_75_84_count,beneficiary_age_greater_84_count,beneficiary_female_count,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,21502.0,1854.0,MD,US,Internal Medicine,S,E,545,563.4,33618.18,12120,170.0,NaN,430.0,446.7,23945.96,9872.0,NaN,134.0,#,NaN,NaN,NaN,414.0,5713.68,*,NaN,NaN,NaN,95.0,7507.76,NaN,450.0,26110.42,NaN,269.0,25144.75,NaN,276.0,8473.43,23.0,336.77,158.0,20.0,4.22,NaN,NaN,NaN,NaN,NaN,101.0,1978.75,81.0,*,NaN,NaN,*,NaN,71.0,36.0,59.0,55.0,20.0,90.0,80.0,153.0,NaN,0.0,NaN,0.0,NaN,102.0,68.0,2.1950
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,43623.0,3536.0,OH,US,Anesthesiology,S,E,1733,1794.8,139695.81,51314,225.0,NaN,810.0,829.6,67377.39,23368.0,NaN,120.0,NaN,288.0,103849.04,NaN,1445.0,35846.77,NaN,0.0,0.00,NaN,774.0,70000.35,NaN,959.0,69695.46,NaN,1137.0,102408.22,NaN,596.0,37287.59,941.0,40602.21,27107.0,148.0,54.30,165.0,24991.78,4824.0,34.0,17.53,NaN,NaN,NaN,NaN,0.0,0.00,NaN,0.0,63.0,105.0,85.0,NaN,NaN,137.0,88.0,159.0,54.0,NaN,NaN,0.0,NaN,108.0,117.0,1.8032
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,89403.0,7482.0,NV,US,Dentist,T,N,49,51.5,267.81,509,34.0,#,NaN,NaN,NaN,NaN,#,NaN,*,NaN,NaN,#,NaN,NaN,*,NaN,NaN,*,NaN,NaN,#,NaN,NaN,*,NaN,NaN,#,NaN,NaN,11.0,63.43,27.0,NaN,22.45,0.0,0.00,0.0,0.0,0.00,26.0,108.17,23.0,NaN,0.0,0.00,NaN,0.0,71.0,NaN,NaN,NaN,NaN,22.0,12.0,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0949
3,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243.0,1.0,TN,US,Nurse Practitioner,S,N,146,216.0,4587.11,5939,34.0,NaN,108.0,168.0,4055.95,4592.0,NaN,21.0,NaN,29.0,2482.07,NaN,117.0,2105.04,NaN,0.0,0.00,NaN,81.0,2540.04,NaN,65.0,2047.07,NaN,121.0,3679.21,NaN,25.0,907.90,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,NaN,NaN,NaN,NaN,0.0,0.00,NaN,0.0,64.0,13.0,NaN,NaN,NaN,23.0,11.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,1.7014
4,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,15825.0,1367.0,PA,US,Family Practice,S,E,2225,2238.5,112183.11,45674,190.0,NaN,2181.0,2193.8,109947.80,44938.0,NaN,172.0,NaN,606.0,85782.84,NaN,1605.0,25690.01,NaN,14.0,710.26,NaN,601.0,25797.87,NaN,1624.0,86385.24,NaN,1230.0,72179.66,NaN,995.0,40003.45,17.0,528.29,241.0,11.0,0.76,NaN,NaN,NaN,NaN,NaN,138.0,1975.55,106.0,NaN,68.0,1025.54,NaN,12.0,79.0,18.0,40.0,61.0,71.0,126.0,64.0,NaN,NaN,0.0,0.0,0.0,NaN,129.0,61.0,1.9105

In [1031]:
df_2016.drop("nppes_provider_mi", axis=1, inplace=True)

In [1032]:
df_2016.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,ge65_suppress_flag,total_claim_count_ge65,total_30_day_fill_count_ge65,total_drug_cost_ge65,total_day_supply_ge65,bene_count_ge65_suppress_flag,bene_count_ge65,brand_suppress_flag,brand_claim_count,brand_drug_cost,generic_suppress_flag,generic_claim_count,generic_drug_cost,other_suppress_flag,other_claim_count,other_drug_cost,mapd_suppress_flag,mapd_claim_count,mapd_drug_cost,pdp_suppress_flag,pdp_claim_count,pdp_drug_cost,lis_suppress_flag,lis_claim_count,lis_drug_cost,nonlis_suppress_flag,nonlis_claim_count,nonlis_drug_cost,opioid_claim_count,opioid_drug_cost,opioid_day_supply,opioid_bene_count,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_drug_cost,la_opioid_day_supply,la_opioid_bene_count,la_opioid_prescriber_rate,antibiotic_claim_count,antibiotic_drug_cost,antibiotic_bene_count,antipsych_ge65_suppress_flag,antipsych_claim_count_ge65,antipsych_drug_cost_ge65,antipsych_bene_ge65_suppress_flg,antipsych_bene_count_ge65,average_age_of_beneficiaries,beneficiary_age_less_65_count,beneficiary_age_65_74_count,beneficiary_age_75_84_count,beneficiary_age_greater_84_count,beneficiary_female_count,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,21502.0,1854.0,MD,US,Internal Medicine,S,E,545,563.4,33618.18,12120,170.0,NaN,430.0,446.7,23945.96,9872.0,NaN,134.0,#,NaN,NaN,NaN,414.0,5713.68,*,NaN,NaN,NaN,95.0,7507.76,NaN,450.0,26110.42,NaN,269.0,25144.75,NaN,276.0,8473.43,23.0,336.77,158.0,20.0,4.22,NaN,NaN,NaN,NaN,NaN,101.0,1978.75,81.0,*,NaN,NaN,*,NaN,71.0,36.0,59.0,55.0,20.0,90.0,80.0,153.0,NaN,0.0,NaN,0.0,NaN,102.0,68.0,2.1950
1,1003000142,KHALIL,RASHID,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,43623.0,3536.0,OH,US,Anesthesiology,S,E,1733,1794.8,139695.81,51314,225.0,NaN,810.0,829.6,67377.39,23368.0,NaN,120.0,NaN,288.0,103849.04,NaN,1445.0,35846.77,NaN,0.0,0.00,NaN,774.0,70000.35,NaN,959.0,69695.46,NaN,1137.0,102408.22,NaN,596.0,37287.59,941.0,40602.21,27107.0,148.0,54.30,165.0,24991.78,4824.0,34.0,17.53,NaN,NaN,NaN,NaN,0.0,0.00,NaN,0.0,63.0,105.0,85.0,NaN,NaN,137.0,88.0,159.0,54.0,NaN,NaN,0.0,NaN,108.0,117.0,1.8032
2,1003000167,ESCOBAR,JULIO,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,89403.0,7482.0,NV,US,Dentist,T,N,49,51.5,267.81,509,34.0,#,NaN,NaN,NaN,NaN,#,NaN,*,NaN,NaN,#,NaN,NaN,*,NaN,NaN,*,NaN,NaN,#,NaN,NaN,*,NaN,NaN,#,NaN,NaN,11.0,63.43,27.0,NaN,22.45,0.0,0.00,0.0,0.0,0.00,26.0,108.17,23.0,NaN,0.0,0.00,NaN,0.0,71.0,NaN,NaN,NaN,NaN,22.0,12.0,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0949
3,1003000282,BLAKEMORE,ROSIE,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243.0,1.0,TN,US,Nurse Practitioner,S,N,146,216.0,4587.11,5939,34.0,NaN,108.0,168.0,4055.95,4592.0,NaN,21.0,NaN,29.0,2482.07,NaN,117.0,2105.04,NaN,0.0,0.00,NaN,81.0,2540.04,NaN,65.0,2047.07,NaN,121.0,3679.21,NaN,25.0,907.90,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,NaN,NaN,NaN,NaN,0.0,0.00,NaN,0.0,64.0,13.0,NaN,NaN,NaN,23.0,11.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,1.7014
4,1003000407,GIRARDI,DAVID,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,15825.0,1367.0,PA,US,Family Practice,S,E,2225,2238.5,112183.11,45674,190.0,NaN,2181.0,2193.8,109947.80,44938.0,NaN,172.0,NaN,606.0,85782.84,NaN,1605.0,25690.01,NaN,14.0,710.26,NaN,601.0,25797.87,NaN,1624.0,86385.24,NaN,1230.0,72179.66,NaN,995.0,40003.45,17.0,528.29,241.0,11.0,0.76,NaN,NaN,NaN,NaN,NaN,138.0,1975.55,106.0,NaN,68.0,1025.54,NaN,12.0,79.0,18.0,40.0,61.0,71.0,126.0,64.0,NaN,NaN,0.0,0.0,0.0,NaN,129.0,61.0,1.9105

In [1033]:
df_2017_drug=df[["npi", "total_drug_cost"]]

In [1034]:
df_2017_drug

                npi  total_drug_cost
0        1003000126         32639.57
1        1003000142        140189.01
2        1003000167           302.01
3        1003000175           113.81
4        1003000282          7561.21
...             ...              ...
1162893  1992999825          7472.80
1162894  1992999833          4538.16
1162895  1992999866           293.80
1162896  1992999874          3313.95
1162897  1992999882          6899.81

[1162898 rows x 2 columns]

In [1035]:
df_2016_drug=df_2016[["npi", "total_drug_cost"]]

In [898]:
df_2016_drug

                npi  total_drug_cost
0        1003000126         33618.18
1        1003000142        139695.81
2        1003000167           267.81
3        1003000282          4587.11
4        1003000407        112183.11
...             ...              ...
1131545  1992999825         11330.50
1131546  1992999833          3415.03
1131547  1992999866           511.31
1131548  1992999874          7923.42
1131549  1992999882         16396.32

[1131550 rows x 2 columns]

In [908]:
# Merge two dataframes.
df_merged = pd.merge(df_2016_drug, df_2017_drug, on="npi", how='inner')

In [909]:
df_merged

                npi  total_drug_cost_x  total_drug_cost_y
0        1003000126           33618.18           32639.57
1        1003000142          139695.81          140189.01
2        1003000167             267.81             302.01
3        1003000282            4587.11            7561.21
4        1003000407          112183.11          108601.73
...             ...                ...                ...
1054554  1992999825           11330.50            7472.80
1054555  1992999833            3415.03            4538.16
1054556  1992999866             511.31             293.80
1054557  1992999874            7923.42            3313.95
1054558  1992999882           16396.32            6899.81

[1054559 rows x 3 columns]

In [910]:
df_merged.rename(columns={"total_drug_cost_x":"total_drug_cost_2016", "total_drug_cost_y":"total_drug_cost_2017"}, inplace=True)

In [911]:
df_merged

                npi  total_drug_cost_2016  total_drug_cost_2017
0        1003000126              33618.18              32639.57
1        1003000142             139695.81             140189.01
2        1003000167                267.81                302.01
3        1003000282               4587.11               7561.21
4        1003000407             112183.11             108601.73
...             ...                   ...                   ...
1054554  1992999825              11330.50               7472.80
1054555  1992999833               3415.03               4538.16
1054556  1992999866                511.31                293.80
1054557  1992999874               7923.42               3313.95
1054558  1992999882              16396.32               6899.81

[1054559 rows x 3 columns]

In [912]:
# Compute cost per day. 
df_merged["total_drug_cost_2016"]=df_merged["total_drug_cost_2016"]/365
df_merged["total_drug_cost_2017"]=df_merged["total_drug_cost_2017"]/365

In [1036]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1054559 entries, 0 to 1054558
Data columns (total 4 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   npi                   1054559 non-null  int64
 1   total_drug_cost_2016  1054559 non-null  float64
 2   total_drug_cost_2017  1054559 non-null  float64
 3   inflation             1054559 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 40.2 MB

In [918]:
# Compute the inflation.
df_merged["inflation"]=(df_merged["total_drug_cost_2017"]/df_merged["total_drug_cost_2016"]*100-100)/100

In [919]:
df_merged

                npi  total_drug_cost_2016  total_drug_cost_2017  inflation
0        1003000126             92.104603             89.423479  -0.029110
1        1003000142            382.728247            384.079479   0.003531
2        1003000167              0.733726              0.827425   0.127702
3        1003000282             12.567425             20.715644   0.648360
4        1003000407            307.350986            297.538986  -0.031924
...             ...                   ...                   ...        ...
1054554  1992999825             31.042466             20.473425  -0.340470
1054555  1992999833              9.356247             12.433315   0.328879
1054556  1992999866              1.400849              0.804932  -0.425398
1054557  1992999874             21.708000              9.079315  -0.581753
1054558  1992999882             44.921425             18.903589  -0.579185

[1054559 rows x 4 columns]

In [926]:
df_merged["inflation"].mean()

1.2840399720910765

#### Question 8: Consider all providers with a defined specialty in both years. Find the fraction of providers who left each specialty between 2016 and 2017. What is the largest such fraction, when considering specialties with at least 1000 proviers in 2016? Note that some specialties have a fraction of 1 due to specialty name changes between 2016 and 2017; disregard these specialties in calculating your answer.